@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Berkshire+Swash&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oleo+Script:wght@400;700&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --body-bg:#212121;
    --main-divs-bg:#2C2C2C;
    --active-color: #5CD7E5;
    --body-color: #E4E4E4;
    --linear-bg: linear-gradient(135deg, #FF5F6D, #FF7A85, #B16CEA, #6A89CC);
}

*{
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    font-family: "Inter Tight", serif;
    background-color: var(--body-bg);
    color:var(--body-color);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

header{
   width: 100%; 
   margin: auto;
   height: 100px;
   padding: 5px 17px;
   background-color: var(--main-divs-bg);
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo .img-logo{
    width: 90px;
    height: 90px;
}

.logo .img-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo .logo-text{
    margin: 0;
    font-size: 1.4rem;
    background: linear-gradient(135deg, #FF5F6D, #FF7A85, #B16CEA, #6A89CC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* mid nav */
.mid-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.mid-nav a{
    text-decoration: none;
    color: var(--body-color);
    font-weight: 600;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.mid-nav a:hover{
    background: linear-gradient(135deg, #FF5F6D, #FF7A85, #B16CEA, #6A89CC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* search bar */
.search-bar{
    display: flex;
    align-items: center;
    padding: 9px 14px;
   border-radius: 20px;
   border: 2px solid transparent;
   background: linear-gradient(#2C2C2C, #2C2C2C) padding-box, 
              linear-gradient(135deg, #FF5F6D, #FF7A85, #B16CEA, #6A89CC) border-box;
    cursor: pointer;
}

.search-bar input{
    background: transparent;
    border: none;
    width: 250px;
    color: var(--body-color);
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

/* For Chrome, Edge, Safari */
.search-bar input::-webkit-search-cancel-button {
    display: none;
  }
  
  /* For Firefox */
  .search-bar input[type="search"]::-moz-search-clear-button {
    display: none;
  }

  .search-bar i{
    font-size: 1.2rem;
    font-weight: bold;
  }