/* 2xl */
@media (max-width: 1536px) {
   
  }
  
  /* xl */
  @media (max-width: 1280px) {
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    /* Hide mid-nav and search bar on mobile */
  .mid-nav,
  .search-bar {
    display: none;
  }
  
  /* Show hamburger menu */
  .menu-bar i {
    display: block;
  }
  
  /* When nav is toggled, show mobile menu */
  nav.active .mid-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-divs-bg);
    padding: 10px 0;
    z-index: 99;
  }
  
  nav.active .mid-nav a {
    padding: 10px 20px;
  }
  
  /* Optionally, adjust header padding/height for mobile */
  header {
    padding: 10px 17px;
  }

  .arrows{
    bottom: 20px;
  }
   
  }
  
  /* md */
  @media (max-width: 768px) {
/* Hide mid-nav and search bar on mobile */
  .mid-nav,
  .search-bar {
    display: none;
  }
  
  /* Show hamburger menu */
  .menu-bar i {
    display: block;
  }
  
  /* When nav is toggled, show mobile menu */
  nav.active .mid-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-divs-bg);
    padding: 10px 0;
    z-index: 99;
  }
  
  nav.active .mid-nav a {
    padding: 10px 20px;
  }
  
  /* Optionally, adjust header padding/height for mobile */
  header {
    padding: 10px 17px;
  }


  .carousel .list .item .content{
    padding-right: 0;
}
.carousel .list .item .title{
   font-size: 30px;
}
   
  }
  
  /* sm */
  @media (max-width: 640px) {
    .carousel .list .item .content{
      padding-right: 0;
     
  }
  .carousel .list .item .title{
     font-size: 30px;
    }

    .thumbnail{
      position: relative;
      top: 590px;
    }
  }
  
  /* xs */
  @media (max-width: 605px) {
    /* Hide mid-nav and search bar on mobile */
  .mid-nav,
  .search-bar {
    display: none;
  }
  
  /* Show hamburger menu */
  .menu-bar i {
    display: block;
  }
  
  /* When nav is toggled, show mobile menu */
  nav.active .mid-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-divs-bg);
    padding: 10px 0;
    z-index: 99;
  }
  
  nav.active .mid-nav a {
    padding: 10px 20px;
  }
  

  header {
    padding: 10px 17px;
  }
  .carousel{
    height: 100vh;
    width: 100vw;
  }
  .thumbnail{
    display: none;
  }

  .arrows{
  bottom: 5px;
}

  }
  